.racesComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.navLinks1 {
    display: flex;
    width: 335px;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.homeLink, 
.addRaceLink {
    padding: 5px 15px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.homeLink {
    margin-right: 5px;
}

.addRaceLink {
    margin-left: 5px;
}

.homeLink:link, 
.homeLink:visited, 
.homeLink:hover, 
.homeLink:active, 
.addRaceLink:link, 
.addRaceLink:visited, 
.addRaceLink:hover, 
.addRaceLink:active {
    text-decoration: none;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}