.racesComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeLink {
    margin: 40px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.homeLink:link, .homeLink:visited, .homeLink:hover, .homeLink:active {
    text-decoration: none;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}